.env
.env.*
!.env.example

node_modules/
.pnpm-store/
dist/
.cache/
.vite/

apps/pocketbase/pb_data/
apps/pocketbase/pocketbase
*.disabled.js
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

app.tar.gz
